.bg-container {
  margin: 55px;
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 8px;
  font-family: 'Roboto';
}

.progress-step {
  background-image: url('https://res.cloudinary.com/djbs4yqbz/image/upload/v1699451170/Screenshot_417_rcsbkv.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 300px;
  border-radius: 8px;
  padding: 25px;
}
.step-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.number {
  height: 50px;
  width: 50px;
  /* background-color: rgb(155, 218, 224); */
  border: 2px solid white;
  color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}

.step-small-container {
  display: flex;
  flex-direction: column;
}

.step-head {
  color: rgb(193, 220, 222);
}

.step {
  color: white;
}

.mobile-bg-image {
  display: none;
}
@media screen and (max-width: 768px) {
  .bg-container {
    flex-direction: column;
    width: 100%;
    margin: 0px;
  }
  .progress-step {
    display: none;
  }
  .mobile-bg-image {
    display: block;
    background-image: url('https://res.cloudinary.com/djbs4yqbz/image/upload/v1699532783/Screenshot_426_lel7hw.png');
    background-size: cover;
    height: 100%;
    padding: 30px;
    display: flex;
  }
}
